version: '3.8'

services:
  app:
    build: .
    container_name: contaduria_app
    restart: always
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
      - ./uploads:/app/uploads
    environment:
      - TZ=America/Bogota
